 .chat-messages {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-bottom: 5px solid #dda223;
    padding-bottom: 10px;
  }
  
  .chat-input {
    input {
      width: 100%;
      padding: 8px;
    }
  }

  .chat-item {
    cursor: pointer;
    padding: 15px 10px;
    margin-bottom: 10px; // Add gap between chat items
    background-color: #f8f9fa;
    border-radius: 10px;
    
    &:hover {
      background-color: #e2e6ea;
    }
  
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  
    strong {
      font-size: 1rem;
    }
  
    p {
      font-size: 0.9rem;
      color: #6c757d;
    }
  }

  .emoji-picker{
    margin-top: 1em;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
  
    small {
      display: block;
      text-align: right;
      color: #777;
    }
  }
  
  .sent {
    align-self: flex-end;
    background-color: #cce5ff; // Light blue background for sent messages
    text-align: right;
  }
  
  .received {
    align-self: flex-start;
    background-color: #f8f9fa; // Light gray background for received messages
  }
  