.modal-backdrop {
    background-color: transparent;
    opacity: 1 !important;
    z-index: 1;
  }
  .hello {
    z-index: 999;
  }
  .header.header-sticky {
    position: sticky;
    top: 0;
    z-index: 999 !important
}